@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Italic.ttf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf');
  font-weight: normal;
}

:root {
  font-size: 16px;
  --color-main: #008730;
  --color-alt: #124f59;
  --color-muted: #5c5d63;
  --color-subtle: #abafc4;
  --color-warning: #ce7a0d;
  --color-danger: #b91717;
  --color-danger-hover: #610010;
}

/*
 * Minimal reset and base setup
 */

* {
  box-sizing: border-box;
}

body {
  font: normal 1rem 'Ubuntu', sans-serif;
  line-height: 1.25;
  margin: 1rem;
}

/*
 * Utility/general classes
 */

p {
  margin: 0.75rem 0;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-subtle);
}

/* SVG icons */
.icon {
  height: 20px;
  margin-right: 0.25rem;
  width: 20px;
}

/* Links */
a {
  align-items: center;
  display: inline-flex;
  color: var(--color-main);
  cursor: pointer;
  fill: var(--color-main);
  position: relative;
  text-decoration: none;
}

a:hover {
  color: var(--color-alt);
  fill: var(--color-alt);
}

a::after {
  background-color: var(--color-alt);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 250ms ease-out;
  width: 100%;
}

a:hover::after {
  transform: scaleX(1);
}

/* Text colors */
.text-danger {
  color: var(--color-danger);
  fill: var(--color-danger);
}

a.text-danger:hover {
  color: var(--color-danger-hover);
  fill: var(--color-danger-hover);
}

a.text-danger::after {
  background: var(--color-danger-hover);
}

/* Headings */
.heading {
  font-family: 'Rubik';
  font-weight: normal;
  margin: 0.5rem 0;
}

/* Main content title */
.page-title {
  font-size: 2rem;
}

/* Larger text for sidebar headings */
.nav-heading {
  font-size: 1rem;
}

/* Unstyled list, mainly for sidebar nav */
.plain-list {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0 0 0 1rem;
}

/*
 * Vertically centered text/link groups
 * e.g. record counts on home page
 */

.text-group {
  align-items: center;
  display: inline-flex;
}

.text-emphasis {
  font-size: 1.75rem;
  margin-right: 0.5rem;
}

/*
 * Whole page wrapper
 */

#page {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

/*
 * Sidebar & content box
 */

/* Sidebar & content wrapper */
@media only screen and (min-width: 720px) {
  .group {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr;
  }
}

.sidebar {
  padding-top: 1rem;
  width: 100%;
}

.content {
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

/*
 * Book status badge
 */

.badge {
  border-radius: 2px;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 2px 1rem;
}

.available {
  background: var(--color-main);
}

.loaned {
  background: var(--color-warning);
}

.maintenance {
  background: var(--color-danger);
}

/*
 * Pagination
 */

.pagination {
  font-size: 0.875rem;
}

.back {
  margin-right: 0.5rem;
}

.next {
  margin-left: 0.5rem;
}

/*
 * Forms
 */

.form {
  align-items: baseline;
  display: grid;
  gap: 0.5rem 1rem;
}

@media only screen and (min-width:720px) {
  .form {
    grid-template-columns: auto 1fr;
  }
}

.input-group {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group.error {
  background: #ffecb3;
  padding-bottom: 0.5rem;
}

input,
select,
textarea {
  border: 1px solid var(--color-subtle);
  border-radius: 4px;
  font: normal 0.875rem 'Ubuntu';
  padding: 0.5rem;
}

textarea {
  resize: vertical;
}

input:focus {
  border: 2px solid var(--color-main);
}

.error>input {
  border-color: var(--color-warning);
}

.helptext {
  color: var(--color-muted);
  font-size: 0.8rem;
  margin: 0;
}

.error-wrapper {
  align-items: center;
  color: var(--color-warning);
  display: flex;
  list-style: none;
  margin: 0 0.5rem;
}

.error-wrapper>.icon {
  fill: var(--color-warning);
}

.errorlist {
  font-size: 0.75rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.error>.helptext {
  margin: 0 0.5rem;
}

button,
.button,
input[type=submit] {
  align-items: center;
  background: var(--color-main);
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: #ffffff;
  font-size: 0.875rem;
  grid-column: 1 / -1;
  margin: 0;
  padding: 0.5rem 2rem;
}

.button:after {
  width: 0;
}

button:hover,
.button:hover,
input[type=submit]:hover {
  background: var(--color-alt);
  color: #ffffff;
  fill: #ffffff;
}

button.button-delete,
input.button-delete {
  background: var(--color-danger);
}

button.button-delete:hover,
input.button-delete:hover {
  background: var(--color-danger-hover);
}