@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Italic.ttf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf');
  font-weight: normal;
}

:root {
  font-size: 16px;
  --color-main: #008730;
  --color-alt: #124f59;
  --color-muted: #abafc4;
}

/*
 * Minimal reset and base setup
 */

* {
  box-sizing: border-box;
}

body {
  font: normal 1rem 'Ubuntu', sans-serif;
  line-height: 1.25;
  margin: 1rem;
}

/*
 * Utility/general classes
 */

p {
  margin: 0.75rem 0;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-muted);
}

/* Links */
a {
  color: var(--color-main);
  position: relative;
  text-decoration: none;
}

a:hover {
  color: var(--color-alt);
}

a::after {
  background-color: var(--color-alt);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 250ms ease-out;
  width: 100%;
}

a:hover::after {
  transform: scaleX(1);
}

/* Headings */
.heading {
  font-family: 'Rubik';
  font-weight: normal;
  margin: 0.5rem 0;
}

/* Main content title */
.page-title {
  font-size: 2rem;
}

/* Larger text for sidebar headings */
.nav-heading {
  font-size: 1rem;
}

/* Unstyled list, mainly for sidebar nav */
.plain-list {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0 0 0 1rem;
}

/*
 * Vertically centered text/link groups
 * e.g. record counts on home page
 */

.text-group {
  align-items: center;
  display: inline-flex;
}

.text-emphasis {
  font-size: 1.75rem;
  margin-right: 0.5rem;
}

/*
 * Whole page wrapper
 */

#page {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

/*
 * Sidebar & content box
 */

/* Sidebar & content wrapper */
@media only screen and (min-width: 720px) {
  .group {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr;
  }
}

.sidebar {
  padding-top: 1rem;
  width: 100%;
}

.content {
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

/*
 * Book status badge
 */

.badge {
  border-radius: 2px;
  color: #fff;
  font-size: 0.875rem;
  padding: 2px 1rem;
}

.available {
  background: var(--color-main);
}

.loaned {
  background: #ce7a0d;
}

.maintenance {
  background: #b91717;
}

/*
 * Pagination
 */

.pagination {
  font-size: 0.875rem;
}

.back {
  margin-right: 0.5rem;
}

.next {
  margin-left: 0.5rem;
}