{% extends "base_generic.html" %}

{% block title %}
<title>Authors - Local Library</title>
{% endblock %}

{% block content %}
<h1 class="heading">Authors</h1>

{% if perms.catalog.add_author %}
<p>
  <a class="button" href="{% url 'author-create' %}">
    <svg class="icon">
      <use xlink:href="#plus" />
    </svg>
    Add author
  </a>
</p>
{% endif %}

{% if author_list %}
<ul>
  {% for author in author_list %}
  <li>
    <a href="{{ author.get_absolute_url }}">{{ author }}</a>
    {% if author.date_of_birth or author.date_of_death %}
    ({% if author.date_of_birth %}{{ author.date_of_birth }}{% endif %}–{% if author.date_of_death %}{{ author.date_of_death }}{% endif %})
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no authors in the library.</p>
{% endif %}
{% endblock %}