{% extends "base_generic.html" %}

{% block title %}
<title>{{ book.title }} - Local Library</title>
{% endblock %}

{% block content %}
<h1 class="heading"><em>{{ book.title }}</em></h1>
<p>by <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
<p>{{ book.summary }}</p>
<p><strong>Genre:</strong> {{ book.display_genre }}</p>
<p><strong>Language:</strong> {{ book.language }}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p>

<p>
  {% if perms.catalog.change_book %}
  <a href="{% url 'book-update' book.pk %}">
    <svg class="icon">
      <use xlink:href="#pencil" />
    </svg>
    Update
  </a>
  {% endif %}
  {% if perms.catalog.delete_book%}
  <a href="{% url 'book-delete' book.pk %}" class="text-danger">
    <svg class="icon">
      <use xlink:href="#trash" />
    </svg>
    Delete
  </a>{% endif %}
</p>

<h2 class="heading">Copies</h2>
{% if book.bookinstance_set.all %}
{% for copy in book.bookinstance_set.all %}
<hr />
<p>
  <span class="badge
    {% if copy.status == 'a' %} available
    {% elif copy.status == 'm' %} maintenance
    {% else %} loaned
    {% endif %}
  ">
    {{ copy.get_status_display }}
  </span>
</p>
{% if copy.status != 'a' %}
<p><strong>Due back:</strong> {{ copy.due }}</p>
{% endif %}
<p><strong>Imprint:</strong> {{ copy.imprint }}</p>
<p><strong>ID:</strong> {{ copy.id }}</p>
{% endfor %}
{% else %}
<p>There are no copies of this book in the library.</p>
{% endif %}
{% endblock %}