{% extends "base_generic.html" %}

{% block title %}
<title>Our books - Local Library</title>
{% endblock %}

{% block content %}
<h1 class="heading">Our books</h1>

{% if perms.catalog.add_book %}
<p>
  <a class="button" href="{% url 'book-create' %}">
    <svg class="icon">
      <use xlink:href="#plus" />
    </svg>
    Add book
  </a>
</p>
{% endif %}

{% if book_list %}
<ul>
  {% for book in book_list %}
  <li><em><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></em> ({{ book.author }})</li>
  {% endfor %}
</ul>
{% else %}
<p>There are no books in the library.</p>
{% endif %}
{% endblock %}